---

---

<header
  class='w-screen fixed top-0 z-50 border-b-[0.5px] backdrop-blur-lg py-4'
>
  <div class='max-w-[65ch] mx-auto flex justify-between items-center'>
    <div class='w-4 h-4'></div>
    <ul class='flex gap-4 items-center'>
      <li>
        <a href="#">
          Arriba
        </a>
      </li>
      <li>
        <a href="#navegación">
          Navegación
        </a>
      </li>
    </ul>
  </div>
</header>
